
body {
    text-align: center;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    position: relative;
    color:#193162;
  }

  /* header h3{
 
  margin-left: 20px;
  font-size: clamp(20px, 5vw, 40px); 
  } */

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    padding-top:20px;
    padding-bottom: 20px;
    padding-right: 20px;
    width:100%;
    margin-bottom:25px;
    /* position: fixed; */
  }
  .image{
    margin-left: 250px;
     width:100px;
     height:100px;
     border-radius: 50px;
  }
  
  header h3 {
    margin: 0;
    padding-left: 25px;
    margin-bottom: 10px;
  }

  .nav-bar {
    float: right;
    margin-bottom: 20px;
  }
  
  .nav-bar a {
    margin-right: 10px;
    text-decoration: underline;
  }
  .nav-bar a:nth-last-child(){
    color: #122b5d;
  }
  
  .nav-bar span {
    padding-right: 20px;
    text-decoration: underline overline; 
  }
  
 
  .main {
    /* margin-top:80px; */
    width: 800px;
    margin: auto;
    position: relative;
    
  }

  .heading1 a{
    border-top: 1px solid ;
    border-bottom: 1px solid ;
    padding:5px;

  }
   /* heading1 a{
    padding: 20px;;
   } */
   .heading h1{
    color: #122b5d;
    font-size: 50px;
   }
   .heading4{
      color:#5e6e90;
   }

  /* .heading{
    width:
  } */
  .paras{
    width:600px;
    margin:auto;
    text-align: left;
    
  } 
  .paras p{
    margin-left: 0%;
  }
  time{
    margin-left: 0px;;
  }

  .blu-Bar{
    margin:1.5%;
    margin-right:1.5%;
    width:97%;
    background-color: #116abe;
    /* height:auto; */
    border-radius: 50px;
    color:#ffffff;
   
   

  }

  .blu-Bar h2{
    /* font-size: clamp(16px, 4vw, 35px);  */
    font-size: 35px;
  }
  .vice{
    padding:50px;
  }

  .vice p{
    text-decoration: underline;
  }
  .boarderLine {
    width: 97%;
    margin-top: 20px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 3px solid #0a2458;
    /* padding: 50px; */
}
.boarderLine > div:nth-child(1) {
    text-align: left;
    padding: 20px; 
}

.boarderLine > div:nth-child(2) {
    text-align: left;
    padding: 20px; /* Add padding for spacing */
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    display: inline-block;
    margin-bottom: 5px;
   
}

.formGroup input[type="text"],
.formGroup input[type="email"],
.formGroup input[type="submit"] {
    width: auto;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #e0e5ef;
}
.formGroup input[type="email"]{
    width:350px;
}
.formGroup button{
  background-color: #0a2458;
  padding:10px;
  border-radius: 10px;
  color:#ffffff;
  width:150px;
}


footer {
    width: 97%;
    margin-top: 20px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top:50px;
   
}

.grid1,
.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid1{
    padding-left:20px;
}

nav {
    display: flex;
    gap: 10px; 
    flex-direction: column;
}

nav a {
    display: inline-block; 
    
    text-align: left;
    text-decoration: underline;
}

.grid2 a{
    text-decoration: none;
    font-size: 12px;
    text-align: left;
    margin-left:150px;
}




@media screen and (max-width: 768px) {
  

  .main {
    max-width: 100%; /
  }

  .paras {
    width: 100%; 
    padding: 0 50px; 
    font-size: 16px; 
  }

  .heading1 a{
    font-size: 14px;
  }

  /* .main{
    align-items: center;
  } */

  .nav-bar a {
    display: none;
  }

  .nav-bar span {
    display: inline-block;
    
   
  }

 
 body {
    font-size: clamp(10px, 4vw, 18px); 
  } 
  .boarderLine {
      grid-template-columns: 1fr; 
    }
  
    .boarderLine > div:nth-child(1),
    .boarderLine > div:nth-child(2) {
      padding: 10px; 
    }
  
    .formGroup input[type="email"] {
      width: 100%; 
    }

    .formGroup input[type="text"]{
      width:100%;
      margin-bottom: 10px;
  }

    footer {
      width: 97%;
      margin-top: 20px;
      margin-left: 1.5%;
      margin-right: 1.5%;
      display: grid;
      grid-template-columns: 1fr;
      margin-top:50px;
 
  }
  .grid1,
.grid2 {
  
  display: grid;
  grid-template-columns: 1fr;
  gap:20px;
}
.grid2{
  margin-top: 15px;
  padding-left: 20px;

}

.grid2 a{
  margin-left:0px;
}
.footer-fourth-para{
  margin-top: 10px;
 
  text-align: left;

}








.blu-Bar h2 {
  font-size: 2em; 
}


/* .boarderLine {
  width: 94%; 
  margin-top: 20px;
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  flex-direction: column; 
  border: 3px solid #0a2458;
  padding: 20px; 
} */

.boarderLine > div:nth-child(1),
.boarderLine > div:nth-child(2) {
  text-align: left;
  padding: 10px 0;
}

.image {
  
  display: none;

 
}
heading{
  padding-left: 25px;
  padding-right: 25px;
}




}


body {
  font-size: 16px; 
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .image {
   
    display: none;
  }

  .formGroup input[type="email"] {
    width: 100%; 
  }

  .formGroup input[type="text"]{
    width:100%;
    margin-bottom: 10px;
}

}




