
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.product-cards {
    display: flex;
    justify-content: space-between;
    margin: 20px; 
}


.product-card {
    width: calc(50% - 10px); 
    border: 1px solid #e1e1e1;
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

/* Style for product images */
.product-image img {
    max-width: 100%;
    height: auto;
}

/* Style for product titles */
.product-title {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

/* Style for product prices */
.product-price {
    font-size: 16px;
    color: #2a80b9;
}
