

#autocompleteInput {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    /* transform: translate(50%,50%); */
}

#autocompleteSuggestions {
    position: absolute;
     top: 15%; 
    left: 10px;
    width: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    list-style-type: none;
    margin: 0;
    display: none;
   
}

#autocompleteSuggestions li {
    padding: 5px;
    cursor: pointer;
}

#autocompleteSuggestions li:hover {
    background-color: #eee;
}
